* {
    /* outline: 1px solid gold; */
    /* overflow-x: hidden; */
    /* font-family: 'Roboto', sans-serif; */
    padding: 0;
    margin: 0;
}

body,
.wrapper,
.wrapper2,
.img3-2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* body::-webkit-scrollbar, */
.wrapper::-webkit-scrollbar,
.wrapper2::-webkit-scrollbar,
.img3-2::-webkit-scrollbar {
    display: none;
}

.outline {
    outline: 1px solid white;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


.containerr {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('./assets/leaves.jpg');
    background-size: cover;

    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(240, 248, 255, 0.05);
    backdrop-filter: blur(5px);
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: black;
}

.nav-ul {
    list-style-type: none;
    padding: 1em;
}

.nav-ul li {
    display: inline;
}



.text1 {
    top: 40%;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    text-align: center;
    color: white;
    align-self: center;
    font-size: 3em;
    margin-bottom: 2em;
}

#line1 {
    font-weight: 800;
    margin-bottom: 0.5em;
}


.btn {
    width: 6em;
    margin-right: 1em;
    transition: all 0.2s ease;
}

.join {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.btn:hover {
    transform: scale(1.1);
}


.img2 {
    background: url('./assets/plant.jpg') no-repeat bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    justify-content: center;
    
}

.right-text {
    text-shadow: 2px 2px #e8e9e5;
    font-size: 3em;
    color: #41807c;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    height: min-content;
    margin-left: 0.5em;
    padding: 0 0.5em 0.5em 0;
}

.muted-text {
    color: #487774;
    font-size: 1.5em;
    text-align: left;
    word-wrap: break-word;
    height: min-content;
    width: 50%;
    margin-left: 1em;
    margin-right: auto;
}


.text1,
.img2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img2 {
    top: 100%;
}

.containerr {
    transform: translateZ(-10px) scale(2);
}


.part3 {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}

.img3-1 {
    height: 100vh;
    width: 50vw;
    background-image: url('./assets/leaf.jpg');
    background-size: cover;
    background-position: center;
}

.rs {
    box-sizing: border-box;
    background: url('./assets/brownwall.jpg') bottom center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rrs{
    background-color: aliceblue;
}

.col-lg{
    background-color: #39875f28;
    border: 1px solid white;
    border-radius: 10px;
    margin: 3em;
}

.r {
    text-align: center;

    min-height: 80%;

    display: inline-block;
    margin: 3em 3em;
    display: flex;
    flex-direction: column;
}

.heading {
    border-bottom: 3px solid #39875f;
    font-family: 'Oxygen', sans-serif;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 2em;
    display: block;
}

.textarea {
    font-family: 'Oxygen', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 1.5em;
}


.form-div {
    background: url('./assets/top-down-plant.jpg') bottom right;
    background-size: cover;
    width: 100%;
}

.fr{
    height: 100vh;
}


.col-md-6{
    border-radius: 0%;
    margin-top: 4em;
    margin-bottom: 4em;
}

.input-group{
    margin: 1em;
}
input{
    margin-left: 1em;
}

.input-group-text{
    margin-left: 0.5em;
}
