*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: rgba(206, 231, 255, 0.473);
}

.container{
    display: flex;
    flex-direction: column;
}

.inline-block{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
    width: 33vw;
}