*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.inline-block{
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
    display: inline-block;
    width: 33vw;
}