*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.inline-block{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #edede9;
    display: inline-block;
    width: 33vw;
}