*{
    margin:0;
    padding:0;
}

body{
    background-color: #8d99ae;
}

.form{
    display: grid;
    margin: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.block{
    display: block;
}

.inputs{
    position: relative;
    border-radius: 1em;
    aspect-ratio: 1/1;
    background-color: #edf6f9ad;
}

.name{
    font-size: 2em;
    height: 10%;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
}

.content{
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}