*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #edede9;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inline-block{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
    width: 33vw;
}

body{
    background-color: rgba(206, 231, 255, 0.473);
}

.form{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 2rem;
    gap: 2rem;
}

.block{
    display: block;
}

.inputs{
    position: relative;
    width: 18%;
    border-radius: 1em;
    aspect-ratio: 1/1;
    background-color: white;
}

.name{
    font-size: 2em;
    height: 10%;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
}

.content{
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}