*{
    /* outline: 1px solid gold; */
    /* font-family: 'Roboto', sans-serif; */
    padding: 0;
    margin: 0;
}

body,
.wrapper{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar,
.wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.outline{
    outline: 1px solid white;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.containerr{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('./assets/leaves.jpg');
    background-size: cover;

    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(240, 248, 255, 0.05);
    backdrop-filter: blur(5px);
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: black;
}

.nav-ul{
    list-style-type: none;
    padding: 1em;
}

.nav-ul li{
    display: inline;
}



.text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    text-align: center;
    color: white;
    align-self: center;
    font-size: 3em;
    margin-bottom: 2em;
}

#line1{
    font-weight: 800;
    margin-bottom: 0.5em;
}


.btn{
    width: 6em;
    margin-right: 1em;
    transition: all 0.2s ease;
}

.join{
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.btn:hover{
    transform: scale(1.1);
}


.img2{
    background:url('./assets/hand.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.right-text{
    font-size: 3em;
    color: #41807c;
    font-family: 'Roboto Slab', serif;
    text-align: right;
    height: min-content;
    margin-right: 0.5em;
    padding: 0 0.5em 0.5em 0;
}

.muted-text{
    color: #487774;
    font-size: 1.5em;
    text-align: right;
    word-wrap: break-word;
    height: min-content;
    width: 40%;
    margin-right: 3em;
    margin-left: auto;
}


.text1,
.img2{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img2{
    top: 100%;
}

.containerr{
    transform: translateZ(-10px) scale(2);
}

#img3{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/grass.jpg');
    min-height: 100vh;
    background-size: cover;
    text-align: center;
}

#text3{
    display: inline-block;
    margin: 2em 0;
    font-family: 'Finlandica', sans-serif;
    color: white;
    text-align: center;
    font-size: 4em;
}

#boxes{
    color: white;
}

.box p{
    border-bottom: 1px solid white;
    padding-bottom: 00.5em;
    font-weight: bold;
}

.box{
    padding: 0.5em;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
}

