*{
    /* outline: 1px solid gold; */
    /* font-family: 'Roboto', sans-serif; */
    padding: 0;
    margin: 0;
}

body,
.wrapper, 
.wrapper2, 
.img3-2{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* body::-webkit-scrollbar, */
.wrapper::-webkit-scrollbar,
.wrapper2::-webkit-scrollbar,
.img3-2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.outline{
    outline: 1px solid white;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


.containerr{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('./assets/leaves.jpg');
    background-size: cover;

    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(240, 248, 255, 0.05);
    backdrop-filter: blur(5px);
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: black;
}

.nav-ul{
    list-style-type: none;
    padding: 1em;
}

.nav-ul li{
    display: inline;
}



.text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    text-align: center;
    color: white;
    align-self: center;
    font-size: 3em;
    margin-bottom: 2em;
}

#line1{
    font-weight: 800;
    margin-bottom: 0.5em;
}


.btn{
    width: 6em;
    margin-right: 1em;
    transition: all 0.2s ease;
}

.join{
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.btn:hover{
    transform: scale(1.1);
}


.img2{
    background:url('./assets/hand.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.right-text{
    text-shadow: 2px 2px #e8e9e5;
    font-size: 3em;
    color: #41807c;
    font-family: 'Roboto Slab', serif;
    text-align: right;
    height: min-content;
    margin-right: 0.5em;
    padding: 0 0.5em 0.5em 0;
}

.muted-text{
    color: #487774;
    font-size: 1.5em;
    text-align: right;
    word-wrap: break-word;
    height: min-content;
    width: 40%;
    margin-right: 3em;
    margin-left: auto;
}


.text1,
.img2{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.img2{
    top: 100%;
}

.containerr{
    transform: translateZ(-10px) scale(2);
}


.part3{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}

.img3-1{
    height: 100vh;
    width: 50vw;
    background-image: url('./assets/leaf.jpg');
    background-size: cover;
    background-position: center;
}

.img3-2{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background: url('./assets/tree-leaves.jpg');
    background-size: cover;
}

.r{
    border: 1px solid white;
    background-color: #39875f28;
    backdrop-filter: blur(40px);
    display: inline-block;
    text-align: center;
    min-height: 70vh;
    width: 70vh;
    margin: 3em 3em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.heading{
    border-bottom: 3px solid #39875f;
    font-family: 'Oxygen', sans-serif;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 2em;
    display: block;
}

.textarea{
    font-family: 'Oxygen', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    font-size: 1.5em;
}

.wrapper2{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.form-div{
    transform: translateZ(-10px) scale(2);
}

.form-div{
    background: url('./assets/leaves-2.jpg');
    filter: blur(10px);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.form{

}

